#root {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex: 1;

  display: grid;
  height: 100vh;
  gap: 2vw;
  grid-template-rows: 1fr 12fr;
  grid-template-columns: 1fr 2fr;
}

#root > h1 {
  margin: 0;
}
